body {
    background-color: lightgray;
}
.topimage {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 20px;
    ;
}
img {
    height: 200px;
    width: 200px;
    padding-top: 20px;
}
table, th, td {
    border: 1px solid black;
}

h1{
    color: red;
}

h2 {
    text-align: center;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid black; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  
 
  input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: rgb(155, 106, 14);
  }

